.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.form-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px/10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
}

.form-card h1, h2, input, button {
  margin: 1rem;
  text-align: center;
  padding: 1rem;
}

.hidden {
  display: none;
}
