.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#show:hover {
  cursor: pointer;
}

#btn:hover {
  cursor: pointer;
}

.code-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form-card {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px/10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
}

.form-card h1, h2, input, select, button {
  margin: 1rem;
  text-align: center;
  padding: 1rem;
}

.form-card input {
  width: 500px;
}

#access-code {
  width: 300px;
}

.results-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px/10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
}

.generated-img {
  margin: 1rem;
}

.hidden {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 0;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
